body{
    font-family: "Comic Sans Ms";
}
h1{
    text-align: center;
}
.box{
    font-weight: bold;
    border: 4px solid red;
    background-color: #EFE9AE;
    padding: 10px;
    margin: 10px; 
    position: relative;
}

.title{
    text-align: center;
    width: 100px;
    top: 0;
    right: 0;
    padding: 0 15px;
    position: absolute;
    border-left: 2px solid red;
    border-bottom: 2px solid red;
}
.b1{
    background-color: #FEC3A6;
}
.b2{
    background-color:#FF928B;
}
.b3{
    background-color: #FFAC81;
}
@media (min-width : 992px){
    .col-4{
        float: left;
        width: 33.33%;
    }
}
@media (min-width : 768px) and (max-width : 990px){
    .col-6{
        float: left;
        width: 50%;
    }
    .lg{
        width: 100%;
    }
}